:root {
  --text-p: #ffff;
  --text-title: rgb (62, 220, 210);
  --bg: #ldldld;
  --bg-ligth: #383838;
}

*{
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: blue;
  color: var(--text-p);
}

h1, h2, h3, h4, h5{
  color: var(--text-title);
}
